.page-container {
  background-color: #f3f4f7;
  width: 100vw;
  height: 100vh;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 100ms ease-in;
}

.page-container.dark {
  background-color: #343d4b;
}

.app {
  text-align: left;
  border-radius: 12px;
  background-color: #ffffff;
  box-shadow: 0 0 70px -10px rgba(0, 0, 0, 0.2);
  padding: 24px;
  position: relative;
  transition: all 100ms ease-in;
}

.app.dark {
  background-color: #222831;
  color: #fff;
}

.header {
  margin: 0 0 24px;
  transition: color 100ms ease-in;
}

.header.dark {
  color: #fff;
}

.theme-slider-container {
  position: absolute;
  top: -32px;
  right: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.location-form {
  display: flex;
  column-gap: 4px;
}

.search-button {
  background: none;
  border: none;
  padding: 0 4px;
  line-height: 32px;
  display: flex;
  align-items: center;
}

.search-button:disabled {
  opacity: 0.3;
}

.input-text {
  border: none;
  box-shadow: none;
  line-height: 32px;
  padding: 0 16px;
  border-radius: 4px;
  flex-grow: 1;
}
.input-text.dark {
  color: #ececec;
  background-color: #343e4c;
  transition: all 100ms ease-in;
}
.input-text.dark::placeholder {
  color: #ececec;
}

.input-icon {
  width: 24px;
  height: 24px;
  line-height: 32px;
}
.input-icon.dark {
  filter: invert(1);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spin {
  animation: spin 2s linear infinite;
}

.error {
  color: #ae2020;
}
